@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    font-family: 'Quicksand', sans-serif;
}

.table-responsive {
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  
    .table-responsive table {
      width: 100%;
    }
  }
  